<!-- File name: bottom_nav.ejs
Name: Krunal Parmar
Student Id: 301146813
Date: 06/02/2021
ExpressPortfolio
Copyright © 2021 Centennial College. All rights reserved. -->

<!-- Bottom Nav -->
<footer>
  
  <div class="footer-main">
    <div class="footer-top">
      <div class="footer-menu">
        <ul>
          <li>
            <a href="/home"><i class="fas fa-lg fa-laptop-house"></i>Home</a>
          </li>
          <li>
            <a href="/about"><i class="fa fa-user" aria-hidden="true"></i>About Me</a>
          </li>
          <li>
            <a href="/projects"><i class="fa fa-laptop" aria-hidden="true"></i>Projects</a>
          </li>
          <li>
            <a href="/services"><i class="fas fa-cogs"></i>Services</a>
          </li>
          <li>
            <a href="/contact"><i class="fas fa-mobile-alt"></i>Contact Me</a>
          </li>
        </ul>
      </div>
      <div class="footer-contact">
        <div class="contact-info">
          <p>Krunal Parmar</p>
          <p>krunalparmar418@gmail.com</p>
          <p>Ahmedabad, India.</p>
        </div>
        <div class="footer-icon">
          <ul>
            <li>
              <a href="https://www.linkedin.com/in/krunal-97"><i class="fab fa-linkedin"></i></a>
            </li>
            <li>
              <a href="https://github.com/Krunal-97"><i class="fab fa-github-square"></i></a>
            </li>
            <li>
              <a href="https://codepen.io/krunal-97/"><i class="fab fa-codepen"></i></a>
            </li>
            <li>
              <a href="https://www.facebook.com/418KrUnAl"><i class="fab fa-facebook-square"></i></a>
            </li>
            <li>
              <a href="#"><i class="fab fa-instagram"></i></a>
            </li>
          </ul>
        </div>
      </div>
      <div class="footer-logo">
        <ul>
          <li>
            <a href="/"><img src="/Assets/images/logo.png"></a>
          </li>
        </ul>
      </div>
    </div>
    <div class="footer-bottom">
      <p> Copyright © 2021 All Rights are Reserved. | Krunal Parmar</p>
    </div>
  </div>
  
</footer>