<!-- File name: footer.ejs
Name: Krunal Parmar
Student Id: 301146813
Date: 06/02/2021
ExpressPortfolio
Copyright © 2021 Centennial College. All rights reserved. -->

<!-- Script Section -->
  <script src="/jquery/dist/jquery.min.js"></script>
  <script src="/bootstrap/dist/js/bootstrap.min.js"></script>
  <script src="/Scripts/app.js"></script>
</body>
</html>
