<!-- File name: home.ejs
Name: Krunal Parmar
Student Id: 301146813
Date: 06/02/2021
ExpressPortfolio
Copyright © 2021 Centennial College. All rights reserved. -->

<!--  Home Page content -->
<div class="home-container container">

  <div class="home">

    <div class="home-text">
      <h1>Hi. I am Krunal,<h3>a India based Web Designer and Developer</h3></h1>
      <p>I am a full stack developer, who leads from designing to developing a whole project.</p> 
      <div class="home-link">
        <a href="/about">Learn more about me</a>
      </div>
      <div class="home-icons">
        <a class="nav-item" href="https://www.linkedin.com/in/krunal-97" target="_blank"><i class="fab fa-linkedin"></i></a>
        <a class="nav-item" href="https://github.com/Krunal-97" target="_blank"><i class="fab fa-github-square"></i></a>
        <a class="nav-item" href="https://codepen.io/krunal-97/" target="_blank"><i class="fab fa-codepen"></i></a>
        <a class="nav-item" href="https://www.facebook.com/418KrUnAl" target="_blank"><i class="fab fa-facebook-square"></i></a>
        <a class="nav-item" href="#"><i class="fab fa-instagram" target="_blank"></i></a>    
      </div>
    </div>
    <div class="home-img">
      <img src="/Assets/images/home1.png">
    </div>

  </div>

  <div class="home-wrap">
    <div class="home-mission">
      <h1>Mission</h1>
      <p>I am really passionate about learnig trending technologies, and implementing it into the projects. This interest helping me to build websites for exceptional user exprience, and user satisfaction motivates me to become more creative.</p> 
    </div>
  </div>

</div>