<!-- File name: main_nav.ejs
Name: Krunal Parmar
Student Id: 301146813
Date: 06/02/2021
ExpressPortfolio
Copyright © 2021 Centennial College. All rights reserved. -->

<!-- Main Navigation -->
<nav>
  
  <div class="topnav" id="myTopnav">
    <a href="/"><img src="/Assets/images/logo.png"></a>
    <a class="nav-item" href="/home"><i class="fas fa-lg fa-laptop-house"></i>Home</a>
    <a class="nav-item" href="/about"><i class="fa fa-user"></i>About Me</a>
    <a class="nav-item" href="/projects"><i class="fa fa-laptop"></i>Projects</a>
    <a class="nav-item" href="/services"><i class="fas fa-cogs"></i>Services</a>
    <a class="nav-item" href="/contact"><i class="fas fa-mobile-alt"></i>Contact Me</a>
    <a href="javascript:void(0);" class="icon" onclick="myFunction()">
    <i class="fa fa-bars"></i>
    </a>
  </div>
  
</nav>