<!-- File name: about.ejs
Name: Krunal Parmar
Student Id: 301146813
Date: 06/02/2021
ExpressPortfolio
Copyright © 2021 Centennial College. All rights reserved. -->

<%- include ../partials/header.ejs %>
<%- include ../partials/main_nav.ejs %>

<!-- About Header -->

<div class="project-top-text">
  <h1>About Me</h1>
</div>

<!-- About Content -->
<div class="about container">
  <!-- About Me Image and Information -->
  <div class="about-top">
      
      <div class="about-img"> 
        <img src="/Assets/images/profile.jpg">
      </div>
      <div class="about-text">
        <p>
          I have recently completed Bachelor of Engineering in the field of Computer Engineering. 
        </p>
        <p>
          In contemporary times, the world is becoming digital, and Artificial Intelligence technologies are the heart of it. 
          And I am keen towards learning trending technologies.
          Hence, at present, I have enrolled myself in the Software Enginnering Technology Artificial Intelligence - Fast Track Program at the Centennial College.
        </p>
        <p>
          Moreover, Web designing and development is passion for me. This course will help me to enhance my skills as i will learn some trending web technologies such as Node JS, Express JS, Mongo DB, React.
        </p>
      </div>

  </div>

  <!-- About Skill Section -->
  <div class="about-skills">

    <div class="about-skills-head">
      <h2>Skills</h2>
    </div>

    <div class="about-skill-section">
      <div class="about-skill-1 about-skill-card">
        <h2>HTML5</h2>
        <img src="/Assets/images/skills/html.png" alt="HTML5">
      </div>
      <div class="about-skill-2 about-skill-card">
        <h2>CSS3</h2>
        <img src="/Assets/images/skills/css.png" alt="CSS3">
      </div>
      <div class="about-skill-3 about-skill-card">
        <h2>Sass</h2>
        <img src="/Assets/images/skills/sass.png" alt="Sass">
      </div>
      <div class="about-skill-4 about-skill-card">
        <h2>JavaScript</h2>
        <img src="/Assets/images/skills/js.png" alt="JS">
      </div>
      <div class="about-skill-5 about-skill-card">
        <h2>PHP</h2>
        <img src="/Assets/images/skills/php.png" alt="PHP">
      </div>
      <div class="about-skill-6 about-skill-card">
        <h2>MySql</h2>
        <img src="/Assets/images/skills/mysql.png" alt="MySql">
      </div>
      <div class="about-skill-7 about-skill-card">
        <h2>Wordpress</h2>
        <img src="/Assets/images/skills/wordpress.png" alt="Wordpress">
      </div>
      <div class="about-skill-8 about-skill-card">
        <h2>Github</h2>
        <img src="/Assets/images/skills/github.png" alt="github">
      </div>
    </div>

    <div class="about-pdf">
      <a href="/Assets/pdf/example.pdf" view target="_blank">Resume</a>
    </div>
  
  </div>
</div>

<%- include ../partials/bottom_nav.ejs %>  
<%- include ../partials/footer.ejs %>