<!-- File name: projects.ejs
Name: Krunal Parmar
Student Id: 301146813
Date: 06/02/2021
ExpressPortfolio
Copyright © 2021 Centennial College. All rights reserved. -->

<%- include ../partials/header.ejs %>
<%- include ../partials/main_nav.ejs %>

<!-- Project Header -->
<div class="project-top-text">
    <h1>Projects</h1>
</div>

<!-- Project Content -->
<div class="work container">

    <div class="projects">
        <div class="project">
            <div class="project-img">
                <a href="#">
                    <img src="/Assets/images/work/portfolio.JPG" alt="Project 1">
                </a>
            </div>
            <div class="project-text">
                <h5>Project: Portfolio Website</h5>
                <p>Role : Web Developer</p>
                <p>Tech Stuff : HTML5 , CSS3 , Sass , JavaScript</p>
                <p>This is the portfolio website.</p>
            </div>
            <div class="project-button">
                <a href="https://krunal-97.github.io/" target="_blank">
                    <i class="fas fa-eye"></i> Project
                </a>
                <a href="https://github.com/Krunal-97/Krunal-97.github.io" target="_blank">
                    <i class="fab fa-github"></i> Github
                </a>
            </div>
        </div>

        <div class="project">
            <div class="project-img">
                <a href="#">
                    <img src="/Assets/images/work/Quiz.JPG" alt="Project 6">
                </a>
            </div>
            <div class="project-text">
                <h5>Project: An Online Quiz Maker</h5>
                <p>Role : Full stack Developer</p>
                <p>Tech Stuff : HTML5 , CSS3 , JavaScrip,PHP, MySQL</p>
                <p>Quiz website which can allow you to set your own answers and generate a link for that quiz, which you can send to anyone and get result for that.</p>
            </div>
            <div class="project-button">
                <a href="https://github.com/Krunal-97/myQuiz" target="_blank">
                    <i class="fab fa-github"></i> Github
                </a>
            </div>
        </div>

        <div class="project">
            <div class="project-img">
                <a href="#">
                    <img src="/Assets/images/work/grid_layout.JPG" alt="Project 2">
                </a>
            </div>
            <div class="project-text">
                <h5>Project: CSS Grid Webpage Layout</h5>
                <p>Role : Frontend Developer</p>
                <p>Tech Stuff : HTML5 , CSS3 , CSS Grid</p>
                <p>Webpage Responsive Layout using CSS Grid</p>
            </div>
            <div class="project-button">
                <a href="https://github.com/Krunal-97/Webpage-Layout" target="_blank">
                    <i class="fab fa-github"></i> Github
                </a>
            </div>
        </div>

        <div class="project">
            <div class="project-img">
                <a href="#">
                    <img src="/Assets/images/work/E-commerce.JPG" alt="Project 5">
                </a>
            </div>
            <div class="project-text">
                <h5>Project: An E-commerce Website</h5>
                <p>Role : Wordpress Developer</p>
                <p>Tech Stuff : WordPress and plugins like Woo Commerce , Elementor</p>
                <p> A fully functional an e-commerce website.</p>
            </div>
            <div class="project-button">
                <a href="http://www.kps-store.epizy.com/kp/" target = "_blank">
                    <i class="fas fa-eye"></i> Project
                </a>
            </div>
        </div>

        <div class="project">
            <div class="project-img">
                <a href="#">
                    <img src="/Assets/images/work/screenshot.PNG" alt="Project 3">
                </a>
            </div>
            <div class="project-text">
                <p>Role : WordPress Developer</p>
                <p>Tech Stuff : HTML5 , CSS3 , JavaScript , jQuery , PHP , WordPress</p>
                <p> WordPress theme development from scratch.</p>
            </div>
            <div class="project-button">
                <a href="https://github.com/Krunal-97/rtCamp-WordPress-Engineer-Challenge" target="_blank">
                    <i class="fab fa-github"></i> Github
                </a>
            </div>
        </div>

    </div>

</div>

<%- include ../partials/bottom_nav.ejs %>  
<%- include ../partials/footer.ejs %>